.task {
  background-color: rgba(128, 128, 128, 0.187);
  width: 100%;
  border-radius: 5px;
  padding: 8px 1px;
  margin-bottom: 10px;
}

h5 {
  font-size: 0.7rem;
  font-weight: 300;
  margin-left: 3px;
  margin-bottom: 5px;
}

