.welcome_container {
  margin: 7px 20px 20px 20px;
  padding: 8px;
  border-radius: 5px;
  width: 100%;
  height: fit-content;
  background-color: #2020207c;
  backdrop-filter: blur(3px);
  text-align: center;
}

.socials {
  font-size: 1.5rem;
}

.socials svg {
  fill: rgba(246, 211, 55, 0.8);
}

.socials svg:hover {
  fill: rgba(205, 141, 22, 0.866);
}
