.story {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background-color: transparent;
  border: 1px solid #afafaf57;
  transition: border 0.3s;
  border-radius: 5px;
  max-width: 96%;
  margin: .5rem 0rem;
  width: 100%;
  padding: 0.5rem 4px;
  overflow-x: hidden;
}

.delete_button {
  position: absolute;
  right: .3rem;
  top: 0;
  transform: scale(.6) translateX(2rem);
  opacity: .4;
  cursor: pointer;
  transition: 300ms;
  margin: 5px;
}

.story:hover {
  border: 1px solid #afafaf96;

  .delete_button {
    transform: scale(1.2);

    &:hover {
      opacity: 1;
      transform: scale(1.5);
      color: red !important
    }
  }
}

.story:last-child {
  margin-bottom: 5px;
}

.task_div {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: hidden;
}

h4 {
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
}

.story>form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
}

.story>form>input {
  margin: 8px 5px 0 0;
  width: 100%;
}

.story>form>button {
  margin-top: 8px;
}