/*MODAL MODAL MODAL*/

.modal {
    position: fixed; /* Change from relative to fixed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(92, 92, 92);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 9999; /* Ensure the modal appears above other content */
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Relative to viewport width */
    height: 100vh; /* Relative to viewport height */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Ensure the overlay appears above other content */
  }
  .modal-header{
    display: flex;
    justify-content: space-between;
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
  }

  .modal button {
    background-color: transparent;
    border: none;
  }