@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
/* font: Bangers */

.bangers {
  font-family: "Bangers";
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6083b8;
  border-radius: 0;
  margin-bottom: 0;
}

.logo {
  margin-top: 2px;
  height: 92px;
}

.h1 {
  font-size: 1.3rem;
  font-weight: 300;
  margin-left: 0.5rem;
}

.logoBox {
  margin-left: 1rem;
}

.userBox {
  margin-right: 1rem;
}
