.nav_list {
  list-style: none;
  display: flex;
  gap: 1rem;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.nav_list li {
  transition: color 0.3s;
}

.nav_list li:hover {
  color: #505050;
  cursor: pointer;
}