.nav_list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.nav_list li {
  transition: color 0.3s, background-color 0.3s;
  padding: 0.5rem;
  border-radius: 5px;
}

.nav_list li:hover {
  cursor: pointer;
  opacity: 50%;
}

.logo {
  margin-top: 12px;
  height: 92px;
}
