@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: rgb(224, 224, 224);
  scrollbar-width: thin;
  scrollbar-color: #fff6 #00000026;
}

#root {
  max-height: 100vh;
  min-height: 100vh;
}


/* Container som håller allt innehåll under headern*/

.container {
  display: flex;
  width: 100%;
  /* Hela höjden minus headerns höjd*/
  min-height: calc(100vh - 50px);
}

.bgPic {
  background-image: url("./assets/images/city_bg.png");
  background-size: cover;
}

/* Container som håller allt board-relaterat */

.active_board {
  padding: 0;
  width: 100%;
  overflow-x: scroll;
  height: 100vh;
  background-color: transparent;
  padding-top: 54px;
  color: #e79664

}

/* Container som håller menyn till vänster */

.board_menu {
  width: 200px;
  min-width: 200px;
  background-color: #202020ec;
  backdrop-filter: blur(3px);
  border-top: 1px solid #414141;
  border-radius: 0;
  /* max-height: 100vh; */
  transition: all 0.5s;
}

.board_menu form {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

.board_menu p {
  margin: 10px 0 5px 5px;
  font-size: 0.9rem;
  transition: all 0.5s;
}

.hide {
  opacity: 0;
  transform: translateX(-200px);
}

.board_menu ul {
  width: 100%;
  transition: all 0.5s;
}

.board_menu ul li {
  padding: 5px 0 5px 15px;
  border: 0;
  font-size: 0.8rem;
  color: #afafaf;
  border-radius: 0;
  width: 100%;
  position: relative;
  transition: all 0.5s;
}

.is_collapsed {
  width: 3px;
  min-width: 3px;
}

.collapse_button {
  position: relative;
  height: 35px;
  font-size: 1rem;
  font-weight: 700;
  padding: 0 7px 0 4px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 2;
  background-color: #202020ec;
  backdrop-filter: blur(3px);
  margin-top: 7px;
  border: 0;
  transition: color 0.5s;
  cursor: pointer;
}

.no_margin {
  margin-top: 0;
}


.route_link {
  text-decoration: none;
}

.route_link_active {
  text-decoration: none;
  color: #e29667;
}

.active_span {
  transition: all 0.5s;
  color: #d67233;
}

.route_link_active > span {
  margin-left: 5px;
  color: #f1b58f;
}

.board_menu ul li:hover {
  background-color: #444444;
  cursor: pointer;
}

.board_menu form > input {
  margin: 5px 5px 5px 3px;
  font-size: 0.8rem;
  padding: 5px 3px;
  height: 100%;
  border: 0;
  border-radius: 2px;
  background-color: transparent;
  transition: all 0.3s;
  outline: 0;
  border: 0;
  width: 80%;
}

.board_menu form > input:focus {
  background-color: #444444;
  color: #afafaf;
}

.board_menu form > input:focus + button {
  outline: 1px solid #afafaf;
}

.board_menu form > button {
  padding: 1px 5px;
  color: white;
  background-color: transparent;
  transition: all 0.5s;
  border: 0;
  outline: 1px solid transparent;
  border-radius: 2px;
}

.board_menu form > button:hover {
  outline: 1px solid #afafaf;
  background-color: #afafaf;
  cursor: pointer;
}

.board_menu form > button:disabled {
  font-size: 1.4rem;
  opacity: 0.2;
}

/* Board-knappar anslutna till varje board-element i menyn till vänster.
Syns bara när man hoverar över list items i menyn. */

.board_menu ul li:hover .board_list_buttons {
  opacity: 1;
}

.board_list_buttons {
  right: 7px;
  top: 4px;
  opacity: 0;
  transition: opacity 0.2s;
  position: absolute;
}

/* Buttons inside user page */

.user_page_button {
  background-color: #ecb337;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 8px;
  transition: all 0.3s;
}

.user_page_button:hover {
  background-color: #9f6d33;
  cursor: pointer;
}

body {
  overflow: auto;
}

@media screen and (min-width: 1500px) {
  :root {
    font-size: 1.3rem;
  }
}
