@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: rgb(224, 224, 224);
  scrollbar-width: thin;
  scrollbar-color: #fff6 #00000026;
}

/* Container som håller allt innehåll under headern*/

.container {
  display: flex;
  width: 100%;
  /* Hela höjden minus headerns höjd*/
  max-height: calc(100vh - 50px);
  min-height: calc(100vh - 50px);
  background-image: url('./assets/kingdom.jpg');
  background-size: cover;
}

/* Container som håller allt board-relaterat */

.active_board {
  padding: 0;
  width: 100%;
  overflow-x: scroll;
  height: calc(100vh - 50px);
  background-color: transparent;
  padding-top: 54px;
}

/* Container som håller menyn till vänster */

.board_menu {
  max-width: 200px;
  min-width: 200px;
  background-color: #202020ec;
  backdrop-filter: blur(3px);
  border-top: 1px solid #414141;
  border-radius: 0;
  max-height: 100vh;
}

.board_menu form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board_menu p {
  margin: 10px 0 5px 5px;
  font-size: 0.9rem;
}

.board_menu ul {
  width: 100%;
}

.board_menu ul li {
  padding: 5px 0 5px 15px;
  border: 0;
  font-size: 0.8rem;
  color: #afafaf;
  border-radius: 0;
  width: 100%;
  position: relative;
  transition: all 0.3s;
}

.route_link {
  text-decoration: none;
}

.board_menu ul li:hover {
  background-color: #444444;
  cursor: pointer;
}

.board_menu form>input {
  margin: 5px 5px 5px 3px;
  font-size: 0.8rem;
  padding: 5px 3px;
  height: 100%;
  border: 0;
  border-radius: 2px;
  background-color: transparent;
  transition: all 0.3s;
  outline: 0;
  border: 0;
  width: 80%;
}

.board_menu form>input:focus {

  background-color: #444444;
  color: #afafaf;
}

.board_menu form>input:focus+button {
  outline: 1px solid #afafaf;
}

.board_menu form>button {
  padding: 1px 5px;
  color: white;
  background-color: transparent;
  transition: all 0.3s;
  border: 0;
  outline: 1px solid transparent;
  border-radius: 2px;
}

.board_menu form>button:hover {
  outline: 1px solid #afafaf;
  background-color: #afafaf;
  cursor: pointer;
}

.board_menu form>button:disabled {
  color: red;
  opacity: 0.2;
}

/* Board-knappar anslutna till varje board-element i menyn till vänster.
Syns bara när man hoverar över list items i menyn. */

.board_menu ul li:hover .board_list_buttons {
  opacity: 1;
}

.board_list_buttons {
  right: 7px;
  top: 4px;
  opacity: 0;
  transition: opacity 0.2s;
  position: absolute;
}