.selector {
  margin-right: 0.5rem;
  font-size: 0.8rem;
  border-radius: 3px;
  padding: 2px 3px;
}

select option {
  color: white;
  background-color: #202020;
}

select {
  background-color: #202020;
  color: whitesmoke;
}